<!-- team section -->
<section class="team_section layout_padding">
    <div class="container-fluid">
        <div class="heading_container heading_center">
            <h2 class="">
                <span> Ekibimiz</span>
            </h2>
        </div>

        <div class="team_container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/zeynep.png" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Zeynep Arpacık
                            </h5>
                            <p>
                                Kurucu (Founder)
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="https://www.linkedin.com/in/zynparpck?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BtzelitNmTbifn99Lf9bvvA%3D%3D">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/nisa.png" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Hayrunnisa Arpacık
                            </h5>
                            <p>
                                Ar-Ge Sorumlusu
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/asli.png" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Aslıhan Yazgan
                            </h5>
                            <p>
                                İş Geliştirme Sorumlusu
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/team-4.jpg" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Nursena Sürmeli
                            </h5>
                            <p>
                                İletişim Sorumlusu
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end team section -->