<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="heading_container heading_center">
            <h2>
                <span>Hakkımızda</span>
            </h2>
         
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/images/bg2.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h3>
                        Keşf-i Kids
                    </h3>
                    <p>
                        Keşf-i Kids, Gardner’in çoklu zeka kuramından
                        ilham alarak çocukların kendi zeka tiplerini ve
                        yeteneklerini geliştirmeye ve geleceklerini
                        yönlendirmelerine olanak sağlayan bir
                        uygulamadır.
                    </p>
                    
                    <p>
                        Keşf-i Kids, Gardner’in çoklu zeka kuramından
                        ilham alarak çocukların kendi zeka tiplerini ve
                        yeteneklerini geliştirmeye ve geleceklerini
                        yönlendirmelerine olanak sağlayan bir
                        uygulamadır.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->