
<!-- service section -->

<section class="service_section layout_padding">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Hizmetlerimiz
                </h2>
               
            </div>
           
                
            </div>
            <p>

            </p>
        <img src="~/images/gelir.png" alt="">
                        
            <div class="detail-box">

                <div class="btn-box">
                    <a href="">
                        Satın Al
                    </a>
                </div>
            </div>
        </div>
    </div>
   
           
   

        </div>
    </div>
</section>

<!-- end service section -->