 <!-- slider section -->
<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="detail-box">
                                <h1>
                                    Keşf-i Kids
                                </h1>
                                <p>
                                    Keşf-i Kids, Gardner’in çoklu zeka kuramından ilham alarak çocukların kendi zeka tiplerini ve yeteneklerini geliştirmeye ve geleceklerini yönlendirmelerine olanak sağlayan bir uygulamadır.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Detaylar
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-box">
                                <img src="~/images/kesfikidslogo.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="detail-box">
                                <h1>
                                    Yapay Zeka ile <br>
                                    Yeteneklere Yönelik Eğitimler
                                </h1>
                                <p>
                                    Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus repellat modi impedit sequi.
                                </p>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-box">
                                <img src="~/images/kesfikidslogo.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="detail-box">
                                <h1>
                                    Çoklu Zeka'dan Alınan <br>
                                    İlhamlarla Eğitimde Öncü
                                </h1>
                                <p>
                                    Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus repellat modi impedit sequi.
                                </p>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-box">
                                <img src="~/images/kesfikidslogo.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
    </div>

</section>
<!-- end slider section -->



<!-- service section -->

<section class="service_section layout_padding">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <br>
                <br>
                <br>
                <h2>
                    <span>Hizmetlerimiz</span>
                </h2>
                <p>
                    Yeteneğini Keşfet, Geleceğini Yönet
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s1.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Çoklu Zeka
                            </h5>
                            <p>
                                Kişileştirilmiş ve Farklılaştırılmış Öğretim Yönetim Sistemimiz (LMS) ile
                                öğrenciyi takip etme ve çalışma temposuna yönelik uygulamalar
                                sunma
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s2.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Yapay Zeka
                            </h5>
                            <p>
                                Yapay zeka ile çocukların yeteneklerine yönelik eğitim
                                hizmeti sunma
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s3.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Oyunlaştırma
                            </h5>
                            <p>
                                Eğitim içeriklerinin ve iş birlikleri ile yetenek ölçme ve değerlendirmenin oyunlaştırılması

                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="/Home/Hizmetler/">
                    Hepsini Gör
                </a>
            </div>
        </div>
    </div>
</section>

<!-- end service section -->
<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="heading_container heading_center">
            <h2>
                <span>Hakkımızda</span>
            </h2>
            <p>
                
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/images/bg2.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h3>
                        Keşf-i Kids
                    </h3>
                    <p>
                        Keşf-i Kids, Gardner’in çoklu zeka kuramından
                        ilham alarak çocukların kendi zeka tiplerini ve
                        yeteneklerini geliştirmeye ve geleceklerini
                        yönlendirmelerine olanak sağlayan bir
                        uygulamadır.
                    </p>
                    <p>
                        Molestiae odio earum non qui cumque provident voluptates, repellendus exercitationem, possimus at iste corrupti officiis unde alias eius ducimus reiciendis soluta eveniet. Nobis ullam ab omnis quasi expedita.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<!-- why section -->

<section class="why_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Çoklu Zeka <span>Nedir?</span>
            </h2>
        </div>
        <div class="why_container">
            <div class="box">
                <div class="img-box">
                    <img src="~/images/w1.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Uzamsal / Görsel Zeka
                    </h5>
                    <p>
                        Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil.
                        Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/images/w2.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Kinestetik Zeka
                    </h5>
                    <p>
                        Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil.
                        Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/images/w3.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Matematiksel / Analitik Zeka
                    </h5>
                    <p>
                        Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil.
                        Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/images/w4.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Doğacı Zeka
                    </h5>
                    <p>
                        Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil.
                        Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/images/w1.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Uzamsal / Görsel Zeka
                    </h5>
                    <p>
                        Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil.
                        Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/images/w2.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Kinestetik Zeka
                    </h5>
                    <p>
                        Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil.
                        Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/images/w3.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Matematiksel / Analitik Zeka
                    </h5>
                    <p>
                        Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil.
                        Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/images/w4.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Doğacı Zeka
                    </h5>
                    <p>
                        Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil.
                        Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end why section -->
<!-- team section -->
<section class="team_section layout_padding">
    <div class="container-fluid">
        <div class="heading_container heading_center">
            <h2 class="">
                <span> Ekibimiz</span>
            </h2>
        </div>

        <div class="team_container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/zeynep.png" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Zeynep Arpacık
                            </h5>
                            <p>
                                Kurucu (Founder)
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="https://www.linkedin.com/in/zynparpck?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BtzelitNmTbifn99Lf9bvvA%3D%3D">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/nisa.png" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Hayrunnisa Arpacık
                            </h5>
                            <p>
                                Ar-Ge Sorumlusu
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/asli.png" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Aslıhan Yazgan
                            </h5>
                            <p>
                                İş Geliştirme Sorumlusu
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/team-4.jpg" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Nursena Sürmeli
                            </h5>
                            <p>
                                İletişim Sorumlusu
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end team section -->